
<% content_for :title, "Polls" %>

<h1>Polls</h1>

<% if !(current_user&.administrador?) %>
  <%= link_to "New poll", new_poll_path %>
<% end %>

<div id="polls">
  <% @polls.each do |poll| %>
    <%= render poll %>
    <p>
      <%= link_to "Show this poll", poll %>
    </p>
  <% end %>
</div>

