<p>OLá <%= @resource.email %>!</p>

<p>Alguém solicitou a troca de senha. Você consegue fazer isso pelo link abaixo.</p>

<p><%= link_to 'Trocar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, por favor ignorar</p>
<p>Sua senha não será alterada enquanto não clicar no link e efetuar a mudança.</p>
